* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden !important;
}

/*CUSTOM SCROLLBAR*/
/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*NAVBAR*/
.navbar{
    top: 0;
    left: 0;
    
    position: static;
    padding: 30px 40px;
    
    width: 100%;
    
    z-index: 99;
    font-family: 'Courier New', Courier, monospace;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* DROPDOWN MENU */
.toggle-btn {
    font-size: x-large;
    cursor: pointer;
    display: none;
}

.dropdown-menu {
    display: none;

    z-index: 99;

    list-style-type: none;
    
    position: absolute;
    top: 95px;
    width: 100%;
    height: 0px;

    border-radius: 6px;

    background-color: whitesmoke;

    /*add backdrop filter (blur) if u want*/

    overflow: hidden;

    transition: height 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu li {
    padding: 0.7rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu li a{
    font-family: 'Courier New', Courier, monospace;
    font-weight:600;
    
    text-decoration: none;
    color: black;
}

.dropdown-menu.open {
    height: 165px;
}

/* LOGO */
.navbar-logo img{
    width: 200px;
}

/* NAVBAR ELEMENTS */
.navbar-items {
    display: flex;
    list-style-type: none;
}

.navbar-items a{
    color: black;
    
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;

    margin: 1.3rem;
    position: relative;
}

.navbar-items a::after {
    content: '';
    position: absolute;
    width: 100%;
    
    bottom: -5px;
    left: 0px;
   
    border-bottom: solid 3px;
    border-radius: 10px;
    
    transform: scaleX(0);
    transition: transform .5s;
}

.navbar-items a:hover::after {
    transform: scaleX(1);
}

/* ICONS */
.navbar-icons {
    /*200 - 140*/
    margin-right: 5%;
}

.navbar-icons i {
    cursor: pointer;
    font-size: x-large;
    padding: 0px 10px;

    transition: .4s;
}

.navbar-icons i:hover {
    color: rgb(255, 166, 0);
}

/* SECTION - 1 IMAGE AND SELECT OPTIONS */
.custom-container .img-container {
    position: static;
    width: 100%;
}

.custom-container .img-container img {
    display: block;
    
    max-width: 570px;
    width: 50%;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.custom-container 
                .top-text,
                .bottom-opts,
                .bottom-opts a{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.custom-container .top-text {
    font-size: 60px;
    font-family: 'Rubik', sans-serif;
    
    margin-bottom: 10px;
}

.custom-container .bottom-opts a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    font-family: 'Rubik', sans-serif;

    min-width: 214px;

    width: 22%;
    height: 70px;

    background-color: black;

    border: solid 4px;
    margin: 0px 10px;

    transition: .3s ease-out;
}

.custom-container .bottom-opts a:hover {
    background-color: rgb(137, 135, 135);
}

.product-tags{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;

}
.img img {
    width: 300px; /* Adjust this value to your desired width */
    height: 300px;
    /* This ensures the aspect ratio is maintained */
}

.product-name {
    white-space: nowrap; /* Prevent line breaks within the first <p> tag */
    overflow: hidden;
    text-overflow: ellipsis; /* Display ellipsis if text overflows horizontally */
    max-width: 100%; /* Ensure the text doesn't overflow the container */
    margin-bottom: 5px;
}

.product-price {
    margin: 0;
}

.cart-btn{
    background-color: black;
    color: white;
    border: none;
    width: 300px;
    padding: 10px 0;
    font-weight: 900;
    text-decoration: solid;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 10px;
    cursor: pointer;
    margin-right: auto;
    text-align: left;
}

@media only screen and (max-width: 1000px) {
    .toggle-btn {
        display: block;
    }
    .dropdown-menu {
        display: block;
    }
    .navbar-icons {
        margin: 0px;
    }
    .navbar-items, 
    .navbar-items a {
        display: none;
    }
    .navbar-logo img{
        width: 250px;
    }
}

@media only screen and (max-width: 415px)
{
    .navbar {
        padding: 20px 15px;
    }
    .navbar-logo img{
        width: 200px;
    }
    .toggle-btn,
    .navbar-icons i {
        font-size: large;
    }
    .custom-container .top-text {
        font-size: 38px;
    }
    .custom-container .bottom-opts {
        font-size: 10px;
    }
    .custom-container .bottom-opts a {
        margin-bottom: 10px;

        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
        height: 50px;
        width: 250px;
        
        border: none;
    }
}

/*FOR GALAXY FOLD, WE NEED TO MAKE IT RESPONSIVE*/